# cache
.cache

# sops
secrets/age-key.txt

# wireguard
**/*.key
**/wg-*.conf
**/wireguard/*.conf

# terraform
terraform/terraform.tfvars
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform/
